<%= form_with model: @chat do |f| %>
 <%= f.text_field :message %>
 <%= f.hidden_field :room_id %>
 <%= f.submit %>
<% end %>
<table>
  <thead>
    <h2><%= @user.name %>さんとのチャット</h2>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
     <tr>
       <td><%= chat.user.name %></td>
       <td><%= chat.message %></td>
     </tr>
    <% end %>
  </tbody>
</table>